{% extends "layout.html" %}
{% block title %}
    Add department
{% endblock %}

{% block main %}
    <form action = "/admin/add_department" method = "post">
        <table>
            <tr>
                <th>Department Name</th>
            </tr>
            <tr>
                <td>
                    <input type = "text" name = "department" placeholder = "Department Name" required>
                </td>
            </tr>
        </table>
        <button type = "submit">Add a new department</button>
    </form>
{% endblock %}