{% extends "layout.html" %}
{% block title %}
    Add project
{% endblock %}

{% block main %}
    <form action = "/admin/add_project" method = "post">
        <table>
            <tr>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Project Start Date</th>
                <th>Project Finish Date</th>
                <th>Project Manager</th>
            </tr>
            <tr>
                <td>
                    <input type = "text" name = "name" placeholder = "Project Name" required>
                </td>
                <td>
                    <textarea name = "description" placeholder = "Project Description" required></textarea>
                </td>
                <td>
                    <input type = "date" name = "start" placeholder = "Project Start Date" required>
                </td>
                <td>
                    <input type = "date" name = "finish" placeholder = "Project Finish Date" required>
                </td>
                <td>
                    <select name = "pm" required>
                        {% for pm in pms %}
                            <option value = {{ pm.id }}>{{ pm.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <button type = "submit">Add a new project</button>
    </form>
{% endblock %}