{% extends "layout.html" %}
{% block title %}
    {{department}}
{% endblock %}

{% block main %}
    <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Department</li>
        </ol>
    </nav>
    <div class="table">
        <table>
            <tr>
                <th>Employee</th>
                <th>Email</th>
                <th>Position</th>
            </tr>
            {% for employee in staff %}
                <tr>
                    <td> {{employee.name}} </td>
                    <td> {{employee.email}} </td>
                    <td> {{employee.position}} </td>
                </tr>
            {% endfor %}
        </table> 
    </div>
{% endblock %}